@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>Thank you,@Model.Name</h1>
        @if(Model.WillAttend == true)
        {
            @:It's great that you are coming.
        }
        else
        {
            @:Sorry to hear that you can't make it.
        }


    </div>
</body>
</html>
