
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chart</h2>

    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "dark2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "Distance of Planets from Sun"
	},
	subtitles: [{
		text: "Logarithmic Y-Axis",
		fontSize: 18
	}],
	axisY: {
		title: "Distance (in million miles)",
		logarithmic: true
	},
	data: [{
		type: "column",
		indexLabelFontColor: "white",
		indexLabel: "{y}",
		indexLabelFontSize: 16,
		yValueFormatString: "#,##0.# mn",
		toolTipContent: "<b>{label}: {y}</b> miles",
		dataPoints:  @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

